<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.3.4/vue.js" ></script>
    <script type="text/javascript">
    	
   		document.addEventListener('plusready', function(){
   			//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
   			
   		});
   		
    </script>
    <style>
    	html{
    		font-size: 62.5%;
    	}
    	body{
    		font-size: 1.6rem;
    	}
    	table {
    		text-align: center;
    	}
    	th{
    		text-align: center;
    	}
    </style>
</head>
<body>
	<div id="app">
		<center style="margin: 10px auto;">更新{{num}}次||数据更新时间：{{getLocalTime(obj.time)}}</center>
		<table style="float: left;" class="table table-striped">
			
			<center style="margin: 15px 0;"><input v-model="size" />  {{size*sum}}</center>
			<tr><th>序列</th><th>购买价格</th><th>数量</th></tr>
			
			<tr v-for="(value, key) in obj.buy">
				<td>{{key+1}}</td><td>0.{{value.price}}</td><td>{{value.am}}</td>
			</tr>

			
		</table>
		<table style="float: left;" class="table table-striped">
			<tr><th>序列</th><th>卖出价格</th><th>数量</th></tr>
			<tr v-for="(value, key) in obj.sell">
				<td>{{key+1}}</td><td>0.{{value.price}}</td><td>{{value.am}}</td>
			</tr>
			
			
		</table>
	</div>
	<script>
		$(function(){
			var str = '';
			loadxml();
			function loadxml(){
				$.getJSON('https://zc.bityuan.com/tickdata/tick.php?callback=?',function(mes){
					str = JSON.parse(mes.marketdata);
					//console.log(JSON.parse(mes.marketdata));
				});
			}
			setInterval(function(){
				loadxml()
				//两秒设更新一次obj
				vm.$data.obj=str;
				vm.$data.sum=str.sell[0].price/1000
			},2000)
			
			var vm = new Vue({
				el:"#app",
				data:{
					num:0,
					obj:'',
					sum:'',
					size:72346
				},
				methods:{
					getLocalTime:function(nS){     
					   return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');     
					}  
				},
				watch:{
					obj:function(){
						//监测obj是否变化
						console.log("更新次数:"+this.num++)
					}
				}
			})
			
		})
	
	</script>
</body>
</html>