<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
		<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.3.4/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		<script type="text/javascript">
			document.addEventListener('plusready', function() {
				//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"

			});
		</script>
		<style>
			html {
				font-size: 100px;
			}
			body {
				font-size: 0.16rem;
			}
			#app {
				overflow: hidden;
			}
			h1 {
				margin-bottom: 0.05rem;
			}
			.mint-header {
				height: 0.5rem;
			}
			table {
				text-align: center;
			}
			.table td,
			.table th {
				padding: 0.075rem
			}
			.table {
				margin-bottom: 0.1rem;
			}
			label {
				display: inline-block;
				margin-bottom: 0.05rem;
			}
			th {
				text-align: center;
			}
			.mint-header {
				text-align: center !important;
			}
			.mint-switch {
				font-size: 14px;
				margin-top: 20px;
				margin-left: 10px;
			}
			center p{
				margin: 0.5em;
				
			}
			td {
				width: 5%;
			}
			
			.green {
				color: green;
			}
			
			#t3 tr:not(.green) {
				color: red;
			}
			.span2{
				color: #C3C6CC;display: inline-block;white-space : normal nowrap ;overflow: hidden;
			}
			.span1{
				display: inline-block;vertical-align: inherit;
			}
			@media screen and (min-width: 1200px) {
				#app {
					overflow: hidden;
					width: 50%;
					margin: 0 auto;
					position: relative;
				}
			}
			select{
				color: #999;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<!--<router-link to="/foo">Foo</router-link>-->
			<!--<p style="position: absolute;right: 5px;top: 0.07rem;font-size: 14px; z-index: 9999;color: #fff;cursor: pointer;">
				
			</p>-->

			<div>
				<router-view></router-view>
			</div>
		</div>
		<template id="myComponent">

			<div>
				<mt-header>
					<router-link to="/" slot="left">
						<mt-button icon="i" id="closetip">{{tip}}</mt-button>
					</router-link>
					<mt-button icon="" slot="right">
						<router-link to="/bar" tag="div" id="selljl">交易记录 ></router-link>
					</mt-button>
				</mt-header>
				<center style="margin: 5px;color: #999 ;">
					<p>选择币种
						<select v-model="icotype" id="select">
							<option>BCCBTC</option>
							<option>LTCBTC</option>
							<option>ETHBTC</option>
							<option>ETCBTC</option>
							<option>ZECBTC</option>
							<option>SCUSDT</option>
							<option>BTCUSDT</option>
							<option>BCCUSDT</option>
							<option>ZECUSDT</option>
							<option>LTCUSDT</option>
							<option>ETHUSDT</option>
							<option>ETCUSDT</option>
							<option>BTYUSDT</option>
						</select>
						显示档数<input type="number" v-model="urllink" maxlength="3" max="100" style="width: 3em;text-align: center;height: 1.5em;border:1px solid #C3C6CC" /></p>
					<p style="display: none;">交易币种{{type}}<span style="display: none;">{{icotype}}</span></p>
					<p></p>
				</center>
				
				<table style="float: left;" class="table table-striped" id="t2" :value2='value2'>

					<tr>
						<th>序列</th>
						<th>购买价格</th>
						<th>数量{{buysum}}</th>
					</tr>

					<tr v-for="(value, key) in obj.buy" style="color:red;">
						<td>{{key+1}}</td>
						<td>
							<b class="span1">{{value.price}}</b>
							<b class="span2">￥{{value.price*6.6137|conversion}}</b></td>
						<td>{{value.am}}</td>
					</tr>

				</table>
				<table style="float: left;" class="table table-striped">
					<tr>
						<th>序列</th>
						<th>卖出价格</th> 
						<th>数量{{sellsum}}</th>
					</tr>
					<tr v-for="(value, key) in obj.sell" style="color:green;">
						<td>{{key+1}}</td>
						<td>
							<b class="span1">{{value.price}}</b>
							<b class="span2">￥{{value.price*6.6137|conversion}}</b>
						</td>
						<td>{{value.am}}</td>
					</tr>

				</table>
			</div>
		</template>
		<template id="sell">
			<div>

				<mt-header title="设置">
					<router-link to="/" slot="left">
						<mt-button icon="back">返回</mt-button>
					</router-link>
					<mt-button icon="more" slot="right"></mt-button>
					<div></div>
				</mt-header>
				<table style="float: left;" class="table table-striped" id="t3">

					<tr style="color: #000;">

						<th>价格</th>
						<th>数量</th>
						<th>时间</th>
					</tr>

					<tr v-for="(a,b) in obj1" v-bind:class="{green:a.type==1}">

						<td>{{price(a,b)}}</td>
						<td>{{lengths(a)}}</td>
						<td>{{getLocalTime(a)}}</td>
					</tr>

				</table>
			</div>
		</template>
		<script>
			$(function() {
				var str = '';
				var str1 = "";
				var type1= '';
				var ks;
				var url = window.localStorage.getItem("url");
					if(url!='undefined'){
						window.localStorage.setItem("url",url);
					}
				
				$(document).on('change','#select',function(){
					url =$('select').val();
					if(url!='undefined'){
						window.localStorage.setItem("url",url);
					}
				})
				setInterval(function() {
					$.getJSON('https://api.zhaobi.com/api/data/market?num='+data.urllink+'&symbol='+window.localStorage.getItem("url"), function(mes) {
						str = mes.data.marketdata;
						str1 = mes.data.trade;
						type1 = mes.data.symbol;
						Vue.set(data, 'type', type1);
						console.log(data)
						Vue.set(data, 'obj', str);
						$("#closetip").off().on('click', function() {
							if(data.tip=='关闭提示'){
								clearInterval(ks);
								Vue.set(data, 'tip', '开启提示');
							}else{
								Vue.set(data, 'tip', '关闭提示');
								window.location.reload()
							}
						});
						
						//cookie记录币数
						Vue.set(data, 'size', $.cookie('name1'));
						Vue.set(data1, 'obj1', str1);
					});
				}, 1000);

				var data = {
					type:'',
					num: 0,
					obj: '',
					sum: '',
					icotype:url,
					urllink:8,
					size: $.cookie('name1'),
					url1:window.localStorage.getItem("url"),
					tip:'关闭提示'
				}

				var Foo = {
					template: '#myComponent',
					props: ['value2'],
					data() {
						return data
					},
					methods: {
						loadxml: function() {
							var that = this;
							url ='https://api.zhaobi.com/api/data/market?num='+this.urllink+'&symbol='+that.url1;
							$.getJSON(url, function(mes) {
								str = mes.data.marketdata;
								console.log(mes.data.trade)
								that.obj = str;
								that.sum = str.sell[0].price;
								that.type =mes.data.symbol;
								console.log(that.obj.buy)
							});

						},
						cookie_c: function() {
							var bty = prompt("请输入币数");
							if(bty) {
								$.cookie('name1', bty)
							}
						}
					},
					filters:{
						//过滤器美元换算保留三位小数
						conversion:function(value){
							return value.toFixed(3);
						}
					},
					computed:{
						buysum:function(){
							var s = 0;
							for(var i in this.obj.buy){
								s+=+(i.am);
							}
							 return s.toFixed(2);
						},
						sellsum:function(){
							var s = 0;
							for(var i in this.obj.sell){
								s+=+(i.am);
							}
							 return s.toFixed(2);
						}
					},
					watch: {
						obj: function() {
							//监测obj是否变化
							document.title = localStorage.getItem('url')+'最新售价'+this.obj.sell[0].price;
							this.num++;
						}
					},
					beforeMount: function() {
						this.loadxml();
					}
				};
				var data1 = {
					value2: false,
					obj1: {},
					color: ''
				}
				const Bar = {
					template: '#sell',
					data() {
						return data1;
					},
					watch: {
						value2: function() {
							
						}
					},
					methods: {
						getLocalTime: function(nS) {
							return nS.time;
						},
						price: function(a, b) {   //价格
							if(a.type) {
								//type：1是买
								return a.price;
							} else {
								this.color = false;
								return a.price;
							}
						},
						lengths: function(a) {
							return a.am;
						},
						loads: function() {
							var that = this;
							$.getJSON('https://api.zhaobi.com/api/data/market?num='+this.urllink+'&symbol='+window.localStorage.getItem(url), function(mes) {
								str = mes.data.marketdata;
								that.obj1 = str1;
								that.sum = str.sell[0].price;
								
							});

						},
						created: function() {
							this.loads();
						}
					}
				}
				const routes = [{
						path: '/',
						component: Foo
					},
					{
						path: '/foo',
						component: Foo
					},
					{
						path: '/bar',
						component: Bar
					}
				];
				const router = new VueRouter({
					routes
				});

				Vue.component(Range.name, Range);

				var vm = new Vue({
					el: "#app",
					methods: {},
					router: router
				});
				var timer = null,
					title = $('title').text();

				ks = setInterval(function() {
					showMsgNotification(localStorage.getItem('url')+'最新卖价：' + (str.sell[0].price*6.6137) + "\n去交易>>");
					return false;
				}, 20000)

				$('body').on('click', function() {
					clearInterval(timer);
					$('title').text(title);
				});
				

				function showMsgNotification(title, msg) {
					var Notification = window.Notification || window.mozNotification || window.webkitNotification;

					if(Notification) { //支持桌面通知
						if(Notification.permission == "granted") { //已经允许通知
							var instance = new Notification(title, {
								body: msg,
								icon: "https://www.bityuan.com/img/gignlogo.png",
							});

							setTimeout(function() {
								instance.close();
							}, 3000)
							instance.onclick = function() {
								window.location.href = "http://www.zhaobi.com";
								instance.close();
							}
							instance.onerror = function() {
								console.log('onerror');
							};
							instance.onshow = function() {
								console.log('onshow');
							};
							instance.onclose = function() {
								console.log('onclose');
							};
						} else { //第一次询问或已经禁止通知(如果用户之前已经禁止显示通知，那么浏览器不会再次询问用户的意见，Notification.requestPermission()方法无效)
							Notification.requestPermission(function(status) {
								if(status === "granted") { //用户允许
									var instance = new Notification(title, {
										body: msg,
										icon: "images/reload.png"
									});

									instance.onclick = function() {
										
									};
									
								} else { //用户禁止
									return false
								}
							});
						}
					} else { //不支持(IE等)
						var index = 0;

						clearInterval(timer);
						timer = setInterval(function() {
							if(index % 2) {
								$('title').text('【　　　】' + title); //这里是中文全角空格，其他不行
							} else {
								$('title').text('【新消息】' + title);
							}
							index++;

							if(index > 20) {
								clearInterval(timer);
							}
						}, 500);
					}

				}
				
				

			});
		</script>

	</body>

</html>
